# binaries
/gosprints
/dlv
/core/visual/visual.test
/mobile/mobile
/raspio/goldio

# default tournament data file
/sprints.pb

# vendor w/ go dependencies folder
/vendor

# custom mobile makefile
/mobile/Makefile.custom

# go-qt compilation side-effects
/mobile/deploy
/mobile/**/*.qmlc
/mobile/**/*.h
/mobile/**/moc*.go
/mobile/**/rcc*.go
/mobile/.*
*.cpp

